.searchfield-container {
  position: relative; 
}
  
.autocomplete-container {
  position: absolute;
  padding: 5px 0;
  border: 1px solid #ddd;
  background: #fff;
  z-index: 1;
  width: 100%; 
}

.autocomplete-container .autocomplete__facets {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #ddd; 
}

.autocomplete-container .downshift-item {
  padding: 1px 5px; 
}

.autocomplete-container .downshift-item.highlighted {
  background: #ddd; 
}

.autocomplete-container .downshift-item:hover {
  cursor: pointer;
  cursor: hand; 
}

.autocomplete-container .downshift-item .facet {
  font-weight: bold; 
}

.autocomplete-products__item-container {
  display: flex;
}
  