.search-results__label-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-results__label {
  margin: 0;
}

.show-more__container {
  margin-top: 20px;
}

.show-more__button {
  width: 100%;
}