/*
 * Put all the styles in this file which are needed in wp-admin.
 */

/************* Jetpack **************/

/* Connection block in "General" tab. */
.dops-navigation + div > .dops-card.dops-foldable-card:first-child:not(.has-expanded-summary) {
	display: none;
}

/* SSO block in "Security" tab */
.dops-navigation + div > .dops-card.dops-foldable-card.has-expanded-summary[data-reactid*="module-card_sso"] {
	display: none;
}

/* "Disconnect Jetpack" link in JP Footer */
#jp-plugin-container .jp-footer > .jp-footer__links > .jp-footer__link-item:last-child {
	display: none;
}

/* Hide the "Plans" page in Jetpack Dashboard */
.dops-navigation .dops-section-nav-tab__link[href="#/plans"] {
	display: none;
}

/* Hide the connections info and disconnect button in Jetpack Dashboard */
#jp-plugin-container .jp-lower .jp-connection-type {
	display: none;
}

/************* Plugins Page **************/

.wp-list-table tr[data-slug="akismet"] > *,
.wp-list-table tr[data-slug="full-site-editing"] > *,
.wp-list-table tr[data-slug="gutenberg"] > *,
.wp-list-table tr[data-slug="jetpack"] > *,
.wp-list-table tr[data-slug="amp"] > *,
.wp-list-table tr[data-slug="coblocks"] > * {
	-webkit-box-shadow: none !important;
	box-shadow: none !important; /* Can otherwise be overridden by https://core.trac.wordpress.org/browser/tags/5.2.1/src/wp-admin/css/list-tables.css#L1217 */
}

.wp-list-table #akismet-update,
.wp-list-table #full-site-editing-update,
.wp-list-table #gutenberg-update,
.wp-list-table #jetpack-update,
.wp-list-table #amp-update {
	display: none;
}

